<hr>
<div>
    {{#with person}}
    <header>
        <section>
            <div>
                {{> title data="Person" big=true}}
                <h3><b>{{name}}, {{age}}, {{gender}}</b></h3>
            </div>
            <br>
            <div>
                <address>
                    <em>
                        {{#each address}}
                            {{this}},
                        {{/each}}
                    </em>
                </address>
            </div>
        </section>
    </header>

    <hr>

    <main>
        <section>
            <div>
                {{> title data="Education" big=false}}
                <ul>
                    {{#each education}}
                        <li>
                            {{degree}}
                            <br>
                            <br>
                            {{major}}
                        </li>
                        <p>{{university}} - ({{graduationYear}})</p>
                    {{/each}}
                </ul>
            </div>
        </section>

    <hr>

        <section>
            <div>
                {{> title data="Work-Experience" big=false}}
                <ul>
                {{#each workExperience}}
                    <li>
                        <div>
                            {{company}}
                            <br>
                            <br>
                            {{title}}
                            <br>
                            <br>
                            Працевлаштування з ({{startDate}}) по ({{endDate}})
                        </div>
                    </li>
                </ul>
                <div>
                    <ul>
                        {{#each responsibilities}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                <br>
                <div>
                    <hr>
                    <div>
                        <h3>{{industry}}</h3>
                    </div>
                    <em>(Промисловiсть заснована в {{year_founded}} роцi)</em>
                </div>
                <br>
                <hr>
                <br>
                <div>
                    {{> title data="Employees" big=false}}
                    <ul>
                        {{#each employees}}
                            <li>
                                <div>
                                    {{name}} |
                                    {{position}} |
                                    {{department}}
                                </div>
                                <br>
                                <div>
                                    {{> title data="Projects" big=false}}
                                    <ul>
                                        {{#each projects}}
                                        <li>
                                            <div>
                                                <b>Назва проекту:</b> {{name}}
                                            </div>
                                            <br>
                                            <div>
                                                Опис: {{description}}
                                            </div>
                                            <br>
                                            <div>
                                                Прогрес: {{status}}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <hr>
                                <br>
                                <div>
                                    {{> title data="Teams" big=false}}
                                    <ul>
                                            {{#each teams}}
                                                <li>
                                                    <b>Назва команди:</b> {{team_name}}
                                                    <br>
                                                    <br>
                                                    {{#with team_leader}}
                                                        {{name}} - ({{title}})
                                                        <br>
                                                        <br>
                                                        Email: {{email}}
                                                    {{/with}}
                                                    <ul>
                                                        <br>
                                                        {{> title data="Teams members" big=false}}
                                                        {{#each team_members}}
                                                            <li>
                                                                {{name}} - ({{title}})
                                                                <br>
                                                                <br>
                                                                Email: {{email}}
                                                                <br>
                                                                <br>
                                                                Skills: {{skills}}
                                                            </li>
                                                            <br>
                                                            <ul>
                                                                {{> title data="Projects" big=false}}
                                                                {{#each projects}}
                                                                    <li>
                                                                        <div>
                                                                            <b>Назва проекту:</b> {{name}}
                                                                        </div>
                                                                        <br>
                                                                        <div>
                                                                            Опис: {{description}}
                                                                        </div>
                                                                        {{> title data="Technologies" big=false}}
                                                                        <ul>
                                                                            {{#each technologies}}
                                                                            <li>
                                                                                {{this}}
                                                                            </li>
                                                                            {{/each}}
                                                                        </ul>
                                                                    </li>
                                                                    <br>
                                                                    {{> title data="Team members" big=false}}
                                                                    <ul>
                                                                        {{#each team_members}}
                                                                            <li>
                                                                                {{name}} | {{title}}
                                                                            </li>
                                                                        {{/each}}
                                                                    </ul>
                                                                {{/each}}
                                                            </ul>
                                                        {{/each}}
                                                    </ul>
                                                </li>
                                            {{/each}}
                                        {{/each}}
                                    </ul>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{/each}}
            </div>
        </section>
    </main>
    {{/with}}
</div>